

.App {
  text-align: center;
}

.App-toolbar {
  background-color: rgb(149, 191, 71);
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.movie-list {
  font-size: large;
  padding: 2.5em;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7em;
  padding-bottom: 2em;
}

.left_grid {
  margin-right: 2em;
}

.right_grid {
  margin-left: 2em;
}

.MuiSnackbarContent-root {
  background: #ff9800 !important;
}
